@import url('https://fonts.google.com/specimen/Outfit');

*{
    box-sizing: border-box; /* Recommended HTML reset section */
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /*fixes font*/
}

img, picture, video, canvas, svg {  /*stops media from overflowing*/
  display: block;
  max-width: 100%;
} 

p, h1, h2, h3, h4, h5, h6 { /* enables hard wrapping in text*/
  overflow-wrap: break-word;
}

body{
  font-family: "Outfit",sans-serif;
  background-color: #D5E1EF;
}

#container{
  min-width:20rem;
  min-height:31.1875rem;
  margin-top:14.40625rem;
}

.text1{
  font-size: 1.375rem;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 700;
  color: #1F314F;
}

.text2{
  font-size: 0.9375rem;
  letter-spacing:0.0125rem;
  line-height: 1.4em;
  color: #68778D;
  margin-bottom:1.5rem;
}

.box{
  height:31.1875rem;
  width:20rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  margin: auto;
  text-align:center;
  padding: 1rem;
}

.box > img{
  width:18rem;
  height:18rem;
  border-radius:0.625rem;
  margin-bottom:1.5rem;
}
